@charset "utf-8"; /* Unicode Transformation Format - 8bit */

@import url('https://fonts.googleapis.com/css2?family=Play');
@import url('https://fonts.googleapis.com/css2?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');
/* @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Play'); */

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* color: #333; */
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color:inherit;
}
img {
    border: 0;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
}

/* reset.css  */

.vid {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .9;
}
.vid video {
    width: 100%;
    min-width: 1600px;
    /* object-fit: fill; */
}

h1 {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 10;
}
h1 img {
    width: 280px;
    height: auto;
}

header {
    width: 700px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -420px;
    background: linear-gradient(-10deg,#28324b, #073879, #44467d);
    transform: skewX(-10deg);
    opacity: 1;
}

/* 메인메뉴 1depth */
#gnb {
    width: 220px;
    position: absolute;
    top: 150px;
    right: 0px;
}
#gnb > li {
    position: relative;
} 
/*보통 메인이 있는 틀 등이 기준이 되는 relative를 부여하나, 이 경우는 메인메뉴 하위 리스트가 relative로 잡히고,전체 gnb id가 absolute로 잡아서 li기준에 맞춰 자리 배치 */
#gnb > li > a{
    display: block;
    width: 220px;
    height: 50px;
    font: bold 18px/3 play;
    /* font 속성만 사용하면 크기/간격과 굵기 face까지 한번에 다 사용 */
    color: #ffffff;
    box-sizing: border-box;
    padding-right: 40px;
    text-align: right;
}
#gnb > li.on > a {
    background-color: #ffffff;
    color: #00c3ff;
}
#gnb > li:hover > a {
    background-color: #333;
    color: #ffffff;
}
#gnb em {
    display: inline-block;
    transform: skewX(10deg)!important;
    /* CSS는 같은 속성을 여러 번 정의했을 때, 나중에 설정한 값이 적용된다. 만약 나중에 설정한 값이 적용되지 않게 하려면 속성값 뒤에 !important를 붙인다. */
}
#gnb em i {
    margin-right: 20px;
}

/* 서브메뉴 2depth */

#gnb ul {
    position: absolute;
    left: 0;
    top: 0;
    transition:all 0.4s;
    opacity: 0;
}
#gnb > li:hover ul {
    opacity: 0.8;
    left:200px;
}
#gnb ul a {
    display: block;
    width:150px; 
    height:40px; 
    background:#222; 
    border-bottom:1px solid #b9fb05; 
    font:bold 16px/2.5 arial; 
    color:#fff; 
    box-sizing:border-box; 
    padding-left:50px; 
    margin-bottom:3px; 
    transition:all 0.5s;
}
#gnb ul a:hover { background-color: #b9fb05;color: #333;}
#gnb > li.on ul { opacity: 0.8; left: 200px;top: 0;}
#gnb li.on ul a {background-color: #444;opacity: 0.7;}

#sns {
    position: fixed;
    top: 60px;
    right: 50px;
    /* display: flex;
    flex-basis: 300px;
    gap:10px;
    justify-content: center; */
}
#sns li {
    float: left;
    margin-right: 30px;
}
/* #sns li:last-child {
    margin-right: 0;
} */

#sns .fa {
    font-size: 25px;
    color: #b9fb05;
    opacity: 0.5;
    transform: scale(1);
    transition: all 0.5s;
}
#sns .fa span {
    display: none;
}
#sns .fa:hover {
    opacity: 1;
    transform: scale(1.5);
}

.txtBox {
    width: 400px;
    height: 300px;
    position: fixed;
    top: 200px;
    right: 70px;
}
.txt {
    position: absolute;
    top: 200px;
    right: 0;
    font-size: 35px;
    font-family: 'Play', sans-serif;
    color: #bbb;
    letter-spacing: -2px;
}
.txt b{
    font:bold 35px Arial;
    color: #b9fb05;
    margin-left: 20px;
}

.tit {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 160px;
    color: #b9fb05;
    font-family: 'Monoton', cursive;
    letter-spacing: -1px;
}

.tit em {
    font-size: 50px;
    font-family: 'Play', sans-serif;
    color: #fff;
}

.side {
    width: 800px;
    height: 100%;
    position: fixed;
    right: -800px;
    bottom: 0;
    background-color: #111;
    opacity: 0.5;
    transform: skewX(-40deg);
    transition: all 0.5s;
}
.side:hover {
    right: -500px;
    opacity: 0.8;
}
.side .con {
    width: 400px;
    height: 100%;
    position: absolute;
    left: 150px;
    bottom: 0px;
    background: #000;
    box-sizing: border-box;
    padding: 10px;
    transition: all 1s;
}
.side:hover .con{
    left: 50px;
}

.side .con p {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50px;
}
.side .con p em {
    display: inline-block;
    font: bold 16px/1.7 Arial;
    color: #a0bd50;
    transform: skewX(40deg);
}

.side .con p img {
    width: 300px;
    height: 70px;
    opacity: 0.3;
    transition: all 0.5s;
}

.side .con p img:hover {
    opacity: 1;
}

.side .con p:nth-child(1) {
    bottom: 270px;
    transform: translateX(200px);
    /* 설정된(side클래스 위치) 기준 X축 200px의 위치로 이동한다. */
    transition: all 0.4s;
}
.side .con p:nth-child(2) {
    bottom: 160px;
    transform: translateX(200px);
    /* 설정된(side클래스 위치) 기준 X축 200px의 위치로 이동한다. */
    transition: all 0.8s;
}
.side .con p:nth-child(3) {
    bottom: 50px;
    transform: translateX(200px);
    /* 설정된(side클래스 위치) 기준 X축 200px의 위치로 이동한다. */
    transition: all 1.2s;
}
.side:hover .con p {
    transform: translateX(0px);
}

.side .btnContents {
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 40px;
    left: 100px;
    color: #b9fb05;
    transform: skewX(40deg);
}
.side:hover .btnContents {
    left: 700px;
}
.btnContents i {
    font-size: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
}

.btnContents i:nth-child(1) {
    animation: ani linear 1.5s 0s infinite;
}
.btnContents i:nth-child(2) {
    animation: ani linear 1.5s 0.5s infinite;
}
.btnContents i:nth-child(3) {
    animation: ani linear 1.5s 1.0s infinite;
}

@keyframes ani {
    0% {right: 0px; transform: scale(1); opacity: 1;}
    100% {right: 100px; transform: scale(1.5); opacity: 0;}
}